


<div class="row">
  <div class="col-sm-6">
    <h1>Movies</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_movie_path, class: 'btn btn-primary' do %>
    Add New Movie
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Video url</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <%= content_tag :tr, id: dom_id(movie), class: dom_class(movie) do %>
          

                      <td><%= movie.title %></td>
                      <td><%= movie.video_url %></td>
          
          
            <td><%= link_to 'Show', movie %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
