<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta name: "stripe-key", content: Rails.application.credentials.stripe[:public_key] %>


  </head>



  <body>
   
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
